<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to Macedonian Stock Exchange App</h1>
</header>
<main>

    <form action='/events/login' method="GET">
        <div>
    <span>
      <p>Username:</p>
      <input name="username" type="text">
    </span>
            <span>
      <p>Create password:</p>
      <input name="createPassword" type="password">
    </span>
            <span>
      <p>Confirm password:</p>
      <input name="confirmPassword" type="password">
    </span>

            <input type="submit" value="Register">

        </div>
    </form>
</main>
</body>
</html>