<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Welcome</title>
  <style type="text/css">
    body {
      width: 800px;
      margin: auto;
    }
  </style>
</head>
<body>
<header>
  <h1>Welcome to Macedonian Stock Exchange App</h1>
</header>
<main>

  <form action='/events/login' method="GET">
    <div>
    <span>
      <p>Username:</p>
      <input type="text" name="username">
    </span>
      <span>
      <p>Create password:</p>
      <input type="password" name="createPassword">
    </span>
      <span>
      <p>Confirm password:</p>
      <input type="password" name="confirmPassword">
    </span>

      <input type="submit" value="Register">

    </div>
  </form>
</main>
</body>
</html>